<!DOCTYPE html>
<html lang="en" ng-app="listaTelefonica">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Telefônica</title>
    <style>
        .selecionado {
            background-color: greenyellow;
        }
        .negrito {
            font-weight: bold;
        }
    </style>
    <script src="lib/angular/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.8.2/angular-messages.js" integrity="sha512-aXyeDnLJDDD7GvGKrFnS0gNjLUZmmtwp2/iU03TU9oDkv5XuHOaCkQcaS6T0pLLAZXnhKVapCM8eUkZ++ymmyg==" crossorigin="anonymous"></script>
    <script src="lib/angular/angular-locale_pt-br.js"></script>
    <script>
        angular.module("listaTelefonica", ["ngMessages"]);
        angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function ($scope, $http) {
            $scope.app = "Lista Telefônica";
            $scope.contatos = [];
            $scope.operadoras = [];
            var carregarContatos = function() {
                $http.get("http://localhost:3412/contatos").then(function (response) {
                    $scope.contatos = response.data;
                }, function(data, status) {
                    $scope.message = "Algo deu errado: " + data;
                });
            };
            var carregarOperadoras = function() {
                $http.get("http://localhost:3412/operadoras").then(function (response) { 
                    $scope.operadoras = response.data;
                });
            }
            $scope.adicionarContato = function (contato) {
                contato.data = new Date();
                $http.post("http://localhost:3412/contatos", contato).then(function (response) {
                    delete $scope.contato;
                    $scope.contatoForm.$setPristine();
                    carregarContatos();
                });
                
            };
            $scope.apagarContatos = function (contatos) {
                $scope.contatos = contatos.filter (function(contato) {
                    if (!contato.selecionado) return contato;
                });
            };
            $scope.isContatoSelecionado = function(contatos) {
                 return contatos.some(function (contato) {
                    return contato.selecionado;
                });
            };
            $scope.ordenarPor = function (campo) {
                $scope.criterioDeOrdenacao = campo;
                $scope.direcaoDaOrdenacao = !$scope.direcaoDaOrdenacao;
            };
            $scope.classe1 = "selecionado";
            $scope.classe2 = "negrito";
            carregarContatos();
            carregarOperadoras();
        });
    </script>
</head>
<body ng-controller="listaTelefonicaCtrl">
    <div>
        <!-- 
            <h4 ng-bind="app"></h4> 
        -->
        <h3>{{app}}</h3> <!-- mesma coisa que ng-bind -->
        <input type="text" ng-model="criterioDeBusca" placeholder="O que você está buscando?">
        <table ng-show="contatos.length > 0">
            <tr>
                <th></th>
                <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
                <th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
                <th><a href="" ng-click="ordenarPor('operadora.nome')">Operadora</a></th>
                <th>Data</th>
                <th></th> 
            </tr>
            <tr  ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
                <td><input type="checkbox" ng-model="contato.selecionado"/></td>
                <td>{{contato.nome | uppercase}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.operadora.nome | lowercase}}</td>
                <td>{{contato.data | date:'MMMM EEEE dd/MM/yyyy hh:mm'}}</td>
                <td>
                    <div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div>
                </td>
            </tr>
        </table>
        <hr/>
        <form name="contatoForm">
            <input type="text" ng-model="contato.nome" name="nome" ng-required="true" ng-minlength="10" placeholder="Nome" style="margin-bottom: 5px;"> <br>
            <input type="text" ng-model="contato.telefone" name="telefone" ng-minlength="9" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/" placeholder="Telefone" style="margin-bottom: 5px;"> <br>
            <select ng-model="contato.operadora" ng-options="operadora.nome + ' ('+ (operadora.preco | currency) +')' group by operadora.categoria for operadora in operadoras">
                <option value="">Selecione uma operadora</option>
            </select> 
        </form>
        <div ng-messages="contatoForm.nome.$error">
            <div ng-message="required">
                Por favor, preencha o campo Nome!
            </div>
            <div ng-message="minlength">
                O campo Nome deve possuir no mínimo 10 caracteres!
            </div>
        </div>
         <br>
        <div ng-show="contatoForm.telefone.$error.required && contatoFm.telefone.$dirty">
            Por favor, preencha o campo Telefone!
        </div>
        <div ng-show="contatoForm.telefone.$error.pattern">
            O campo telefone deve possuir o formato DDDDD-DDDD
        </div>
        <div ng-show="contatoForm.telefone.$error.minlength">
            O campo Telefone deve possuir no mínimo 9 caracteres!
        </div>
        <br>   
        <button style="margin-top: 5px;" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">
            Adicionar Contato
        </button>
        <button style="margin-top: 5px;" ng-click="apagarContatos(contatos)" ng-if="(isContatoSelecionado(contatos))">
            Apagar Contato
        </button>
    </div> 
    <!-- <div ng-include="'footer.html'"></div> -->
</body>
</html>