<div class="jumbotron">
    <h3>{{app}}</h3> <!-- mesma coisa que ng-bind -->

    <ui-accordions>
        <ui-accordion title="Accordion 1">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem esse consequuntur quis quae dolores hic, earum repellat explicabo sapiente odit nostrum doloremque ducimus magni incidunt neque iusto aspernatur provident. Totam.
        </ui-accordion>

        <ui-accordion title="Accordion 2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat voluptas perspiciatis, commodi impedit illo dicta! Quidem veritatis ea cum esse nesciunt maiores placeat. Voluptas amet debitis ipsam, at molestias corrupti!
        </ui-accordion>
    </ui-accordions>
    
    <hr/>
    <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você está buscando?"/>
    <table ng-show="contatos.length  > 0" class="table table-striped">
        <tr>
            <th></th>
            <th>Serial</th>
            <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
            <th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
            <th><a href="" ng-click="ordenarPor('operadora.nome')">Operadora</a></th>
            <th>Data</th>
        </tr>
        <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao"> 
            <td><input type="checkbox" ng-model="contato.selecionado"/></td>
            <td>{{contato.serial}}</td>
            <td><a href="#/detalhesContato/{{contato.id}}">{{contato.nome | name}}</a></td>
            <td>{{contato.telefone}}</td>
            <td>{{contato.operadora.nome | lowercase}}</td>
            <td>{{contato.data | date:'dd/MM/yyyy'}}</td>
        </tr>
    </table>
    <hr/>
    <a class="btn btn-primary btn-block" href="#/novoContato">Novo Contato</a>
    <button class="btn btn-primary btn-block"  style="margin-top: 5px;" ng-click="apagarContatos(contatos)" ng-if="(isContatoSelecionado(contatos))">Apagar Contato</button>
</div>